<nav class="w-full flex justify-between items-center p-4 bg-indigo-600 shadow-lg">

    <div class="logo">
        <span class="text-gray-200 text-2xl flex justify-start items-center">
            My Book Store
        </span>
    </div>

    <div class="nav-item">
        <span routerLink="/home" class="text-xl cursor-pointer text-gray-200 m-3 hover:underline hover:text-red-400">Home</span>
        <span routerLink="/" class="text-xl cursor-pointer text-gray-200 m-3 hover:underline hover:text-red-400">Cart</span>
        <span routerLink="/login" class="text-xl cursor-pointer text-gray-200 m-3 hover:underline hover:text-red-400">Login</span>
        <span routerLink="/register" class="text-xl cursor-pointer text-gray-200 m-3 hover:underline hover:text-red-400">Register</span>
        <span routerLink="/login" class="text-xl cursor-pointer text-gray-200 m-3 hover:underline hover:text-red-400">Logout</span>
    </div>

    <div class="search relative">
        <span class="absolute mt-1.5 mx-3"><i class="fa fa-search" aria-hidden="true"></i></span>
        <input type="text" placeholder="Search here" class="w-40 p-2 pl-9 rounded rounded-r-none text-gray-400">
        <button class="bg-slate-400 p-2 rounded-r text-black outline-none outline-0">Search</button>
    </div>

</nav>
